<template>
  <div class="contact">
    <Title :sub="$t('contact.sub')"/>
    <div class="info">
      <div>Mail :&nbsp;</div>
      <div><a href="mailto:christophe.sauder@gmail.com">christophe.sauder@gmail.com</a></div>
    </div>
    <div class="info">
      <div>CV :&nbsp;</div>
      <div><a href="/#/contact">{{ $t('contact.lien') }}</a></div>
    </div>
  </div>
</template>

<script>
import Title from '@/components/Title.vue'

export default {
  name: 'contact',
  components: { Title }
}
</script>

<style lang="less" scoped>
  .info {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    &>div:first-child {
      text-align: right;
    }
  }
</style>
