<template>
  <div class="home">
    <Title :sub="$t('home.sub')"/>

    <div class="nav">
      <router-link to="/whoami" tag="div">
        <div>
          <img src="../assets/user.svg" alt="un logo d'une personne">
        </div>
        <div>{{ $t('home.documentation') }}</div>
      </router-link>

      <router-link to="/projets" tag="div">
        <div>
          <img src="../assets/list.svg" alt="un genre de liste">
        </div>
        <div>{{ $t('home.liste') }}</div>
      </router-link>

      <router-link to="/contact" tag="div">
        <div><img src="../assets/mail.svg" alt="une enveloppe, c'est pour faire comprendre que c'est là qu'on peut me contacter"></div>
        <div>{{ $t('home.contact') }}</div>
      </router-link>
    </div>
  </div>
</template>

<script>
import Title from '@/components/Title.vue'

export default {
  name: 'home',
  components: { Title }
}
</script>

<style lang="less" scoped>
  .home {
    display: flex;
    flex-direction: column;
    height: 100%;

    .title { text-align: center; }

    .nav{
      margin: 0 10px;
      &>div {
        cursor: pointer;
        display: flex;
        margin-bottom: 20px;
        &>div:first-child {
          text-align: left;
          width: 40px;
        }
      }
    }
  }
</style>
