<template>
  <div class="projets">
    <Title :sub="$t('projets.sub')"/>
    <p>Rajoute voir une petites description ici, ça fait toujours plaisir.</p>
  </div>
</template>

<script>
import Title from '@/components/Title.vue'
import Projet from '@/components/Projet.vue'

export default {
  name: 'projets',
  components: { Title, Projet }
}
</script>

<style lang="less" scoped>
  .projets {
  }
</style>
