<template>
  <div class="home">
    <Title :sub="$t('whoami.sub')"/>
    <div class="content">
      <p>{{ $t('whoami.entree') }}</p>
      <p>{{ $t('whoami.trounormand') }}</p>
      <p>{{ $t('whoami.plat') }}</p>
      <p>{{ $t('whoami.dessert') }}</p>
      <p>{{ $t('whoami.cafe') }}</p>
    </div>
    <div class="contact">
      <router-link  to="/contact" tag="a">{{ $t('whoami.digestif') }}</router-link>
    </div>
  </div>
</template>

<script>
import Title from '@/components/Title'

export default {
  name: 'whoami',
  components: { Title }
}
</script>

<style lang="less" scoped>
  .home {
    .content {
      margin: 0 20px 30px 20px;
    }
    .contact {
      margin: 60px 20px 60px 20px;
      text-align: center;
    }
  }
</style>
