<template>
  <div class="projet">
    un projet
  </div>
</template>

<script>
export default {
  name: 'Projet',
  props: {
    projet: Object
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.projet {
}
</style>
