<template>
  <router-link to="/" tag="h1" class="title">
    Christophe Sauder <br />
    <span class="sub">{{ sub }}</span>
  </router-link>
</template>

<script>
export default {
  name: 'Title',
  props: {
    sub: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.title {
  text-align: center;
  cursor: pointer;
}
</style>
