<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="less">

/*
#f5f7dc
#ffff82
#b5d99c
#e65f5c
#0f0326
*/

html, body, #app {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: #050010;
  font-weight: 300;
}

#app {
  padding: 10px 30px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .title,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}
.sub {
  font-size: 0.70em;
  font-weight: 300;
}

img {
  max-width: 100%;
  max-height: 100%;
}
</style>
